In [1]:
import pyspark

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName('Basic').getOrCreate()

22/06/27 09:38:19 WARN Utils: Your hostname, adept-VirtualBox resolves to a loopback address: 127.0.1.1; using 10.0.2.15 instead (on interface enp0s3)
22/06/27 09:38:19 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/home/adept/.local/lib/python3.8/site-packages/pyspark/jars/spark-unsafe_2.12-3.2.1.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/06/27 09:38:26 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [4]:
df = spark.read.csv("./fakefriends_nulls.csv")

In [5]:
df.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)

In [6]:
# df = spark.read.csv("/home/maq/Datasets/customer_churn.csv", header = True)
# df.printSchema()

In [7]:
df.columns

['_c0', '_c1', '_c2', '_c3']

In [8]:
df.describe()

DataFrame[summary: string, _c0: string, _c1: string, _c2: string, _c3: string]

In [9]:
# df = spark.read.csv("/home/maq/Datasets/customer_churn.csv", header = True, inferSchema=True)
# df.printSchema()

In [10]:
df.head()

Row(_c0='0', _c1='Will', _c2='33', _c3='385')

In [13]:
df.na.drop().show()

+---+--------+---+---+
|_c0|     _c1|_c2|_c3|
+---+--------+---+---+
|  0|    Will| 33|385|
|  1|Jean-Luc| 26|  2|
|  2|    Hugh| 55|221|
|  3|  Deanna| 40|465|
|  5|  Weyoun| 59|318|
|  6|  Gowron| 37|220|
|  7|    Will| 54|307|
|  8|  Jadzia| 38|380|
| 10|     Odo| 53|191|
| 11|     Ben| 57|372|
| 12|   Keiko| 54|253|
| 13|Jean-Luc| 56|444|
| 15|     Rom| 36| 49|
| 16|  Weyoun| 22|323|
| 17|     Odo| 35| 13|
| 18|Jean-Luc| 45|455|
| 20|     Odo| 67|220|
| 22|   Quark| 30| 72|
| 23|   Keiko| 51|271|
| 24|  Julian| 25|  1|
+---+--------+---+---+
only showing top 20 rows

In [15]:
dicto = {col:df.filter(df[col].isNull()).count() for col in df.columns}

In [16]:
dicto

{'_c0': 0, '_c1': 10, '_c2': 7, '_c3': 7}

In [17]:
df.na.drop().groupBy('_c2').count().show()

+---+-----+
|_c2|count|
+---+-----+
| 51|    7|
| 54|   12|
| 69|    9|
| 29|   11|
| 42|    6|
| 64|   12|
| 30|   11|
| 34|    6|
| 59|    8|
| 22|    7|
| 28|   10|
| 35|    8|
| 52|   11|
| 47|    9|
| 43|    6|
| 31|    8|
| 18|    8|
| 27|    7|
| 61|    9|
| 26|   17|
+---+-----+
only showing top 20 rows

In [18]:
# df.na.drop(thresh = 3).groupBy('Age').count().show()

In [19]:
# df.na.drop(how = 'all').groupBy('Age').count().show()

In [20]:
# df.na.drop(subset = ['Age']).select('Age').show()

In [21]:
df.na.fill('MISSING').select('_c1').show()

+--------+
|     _c1|
+--------+
|    Will|
|Jean-Luc|
|    Hugh|
|  Deanna|
| MISSING|
|  Weyoun|
|  Gowron|
|    Will|
|  Jadzia|
|    Hugh|
|     Odo|
|     Ben|
|   Keiko|
|Jean-Luc|
| MISSING|
|     Rom|
|  Weyoun|
|     Odo|
|Jean-Luc|
|  Geordi|
+--------+
only showing top 20 rows

In [23]:
df.na.fill('0').select('_c2').show()

+---+
|_c2|
+---+
| 33|
| 26|
| 55|
| 40|
| 68|
| 59|
| 37|
| 54|
| 38|
|  0|
| 53|
| 57|
| 54|
| 56|
| 43|
| 36|
| 22|
| 35|
| 45|
|  0|
+---+
only showing top 20 rows

In [28]:
# df.na.fill('MISSING', subset = ['Company']).select('Company').show()
df.groupBy('_c1').count().show(50)

+--------+-----+
|     _c1|count|
+--------+-----+
|    Data|   25|
| Beverly|   20|
|    Hugh|   19|
|   Dukat|   20|
|Jean-Luc|   16|
|    null|   10|
|     Nog|   22|
|     Odo|   14|
|  Kasidy|   18|
|  Guinan|   12|
|   Leeta|   15|
|     Rom|   12|
|  Geordi|   20|
|   Brunt|   21|
|  Deanna|   17|
|     Ben|   17|
|  Weyoun|   15|
|   Miles|   10|
|    Will|   19|
|  Julian|   12|
| Lwaxana|   12|
|  Jadzia|   12|
|    Ezri|   19|
|   Keiko|   21|
|    Elim|   12|
|    Worf|   13|
|   Nerys|   19|
|   Quark|   19|
|  Martok|   12|
|    Morn|   15|
|  Gowron|   12|
+--------+-----+

In [29]:
# from pyspark.sql.functions import mean 
# mean_val = df.select(mean(df['Age'])).collect()
# mean_val
# mean_val[0][0]

# df.na.fill(mean_val[0][0], subset=['Age']).select('Age').show()

In [30]:
from pyspark.ml.feature import Imputer 

imputer = Imputer()
df = spark.read.csv("./fakefriends_nulls.csv", inferSchema=True)

In [31]:
df.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: integer (nullable = true)
 |-- _c3: integer (nullable = true)

In [35]:
imputer.setInputCols(['_c2', '_c3'])
imputer.setOutputCols(['_c2', '_c3'])

Imputer_f041188fa2af

In [36]:
imputer.getRelativeError()

0.001

In [37]:
model = imputer.fit(df)

In [38]:
'''

'''

model.getStrategy()

'mean'

In [39]:
model.surrogateDF.show()

/home/adept/.local/lib/python3.8/site-packages/pyspark/sql/context.py:125: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  warnings.warn(

+-----------------+------------------+
|              _c2|               _c3|
+-----------------+------------------+
|43.74645030425963|248.78093306288034|
+-----------------+------------------+

In [40]:
model.transform(df).show()

+---+--------+---+---+
|_c0|     _c1|_c2|_c3|
+---+--------+---+---+
|  0|    Will| 33|385|
|  1|Jean-Luc| 26|  2|
|  2|    Hugh| 55|221|
|  3|  Deanna| 40|465|
|  4|    null| 68| 21|
|  5|  Weyoun| 59|318|
|  6|  Gowron| 37|220|
|  7|    Will| 54|307|
|  8|  Jadzia| 38|380|
|  9|    Hugh| 43|181|
| 10|     Odo| 53|191|
| 11|     Ben| 57|372|
| 12|   Keiko| 54|253|
| 13|Jean-Luc| 56|444|
| 14|    null| 43| 49|
| 15|     Rom| 36| 49|
| 16|  Weyoun| 22|323|
| 17|     Odo| 35| 13|
| 18|Jean-Luc| 45|455|
| 19|  Geordi| 43|246|
+---+--------+---+---+
only showing top 20 rows

In [41]:
model.transform(df).write.format('csv').coalesce(1).save('./something.csv')