In [1]:
import pyspark

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName('Basic').getOrCreate()

21/11/23 20:03:32 WARN Utils: Your hostname, maq-VirtualBox resolves to a loopback address: 127.0.1.1; using 10.0.2.15 instead (on interface enp0s3)
21/11/23 20:03:32 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/home/maq/spark-3.2.0-bin-hadoop3.2/jars/spark-unsafe_2.12-3.2.0.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
21/11/23 20:03:34 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [4]:
df = spark.read.csv("/home/maq/Datasets/customer_churn.csv")

In [5]:
df.show()

+-------------------+---------------+--------------------+---------------+-----+---------+-------------------+--------------------+-------+-----+
|                _c0|            _c1|                 _c2|            _c3|  _c4|      _c5|                _c6|                 _c7|    _c8|  _c9|
+-------------------+---------------+--------------------+---------------+-----+---------+-------------------+--------------------+-------+-----+
|              Names|            Age|      Total_Purchase|Account_Manager|Years|Num_Sites|       Onboard_date|            Location|Company|Churn|
|   Cameron Williams|           42.0|             11066.8|              0| 7.22|      8.0|2013-08-30 07:00:40|10265 Elizabeth M...|   null| null|
|        Barkerburgh|      AK 89518"|          Harvey LLC|              1| null|     null|               null|                null|   null| null|
|      Kevin Mueller|           41.0|            11916.22|              0|  6.5|     11.0|2013-08-13 00:38:46|6157 Frank Garden...|   null| null|
|        Carloshaven|      RI 17756"|          Wilson PLC|              1| null|     null|               null|                null|   null| null|
|        Eric Lozano|           38.0|            12884.75|              0| 6.67|     12.0|2016-06-29 06:20:07|    1331 Keith Court|   null| null|
|        Alyssahaven|      DE 90114"|Miller, Johnson a...|              1| null|     null|               null|                null|   null| null|
|      Phillip White|           42.0|             8010.76|              0| 6.71|     10.0|2014-04-22 12:43:12|  13120 Daniel Mount|   null| null|
|         Angelabury| WY 30645-4695"|           Smith Inc|              1| null|     null|               null|                null|   null| null|
|     Cynthia Norton|           37.0|             9191.58|              0| 5.56|      9.0|2016-01-19 15:31:15|      765 Tricia Row|   null| null|
|         Karenshire|      MH 71730"|          Love-Jones|              1| null|     null|               null|                null|   null| null|
|   Jessica Williams|           48.0|            10356.02|              0| 5.12|      8.0|2009-03-03 23:13:37|6187 Olson Mountains|   null| null|
|East Vincentborough|      PR 74359"|        Kelly-Warren|              1| null|     null|               null|                null|   null| null|
|        Eric Butler|           44.0|            11331.58|              1| 5.23|     11.0|2016-12-05 03:35:43|  4846 Savannah Road|   null| null|
|        West Justin| IA 87713-3460"|   Reynolds-Sheppard|              1| null|     null|               null|                null|   null| null|
|      Zachary Walsh|           32.0|             9885.12|              1| 6.92|      9.0|2006-03-09 14:50:20|25271 Roy Express...|   null| null|
|          Brownport| FM 59852-6150"|          Singh-Cole|              1| null|     null|               null|                null|   null| null|
|        Ashlee Carr|           43.0|             14062.6|              1| 5.46|     11.0|2011-09-29 05:47:23|3725 Caroline Str...|   null| null|
|South Christineview|      MA 82059"|           Lopez PLC|              1| null|     null|               null|                null|   null| null|
|     Jennifer Lynch|           40.0|             8066.94|              1| 7.11|     11.0|2006-03-28 15:42:45|363 Sandra Lodge ...|   null| null|
+-------------------+---------------+--------------------+---------------+-----+---------+-------------------+--------------------+-------+-----+
only showing top 20 rows

In [6]:
df = spark.read.csv("/home/maq/Datasets/customer_churn.csv", header = True)
df.show()

+-------------------+---------------+--------------------+---------------+-----+---------+-------------------+--------------------+-------+-----+
|              Names|            Age|      Total_Purchase|Account_Manager|Years|Num_Sites|       Onboard_date|            Location|Company|Churn|
+-------------------+---------------+--------------------+---------------+-----+---------+-------------------+--------------------+-------+-----+
|   Cameron Williams|           42.0|             11066.8|              0| 7.22|      8.0|2013-08-30 07:00:40|10265 Elizabeth M...|   null| null|
|        Barkerburgh|      AK 89518"|          Harvey LLC|              1| null|     null|               null|                null|   null| null|
|      Kevin Mueller|           41.0|            11916.22|              0|  6.5|     11.0|2013-08-13 00:38:46|6157 Frank Garden...|   null| null|
|        Carloshaven|      RI 17756"|          Wilson PLC|              1| null|     null|               null|                null|   null| null|
|        Eric Lozano|           38.0|            12884.75|              0| 6.67|     12.0|2016-06-29 06:20:07|    1331 Keith Court|   null| null|
|        Alyssahaven|      DE 90114"|Miller, Johnson a...|              1| null|     null|               null|                null|   null| null|
|      Phillip White|           42.0|             8010.76|              0| 6.71|     10.0|2014-04-22 12:43:12|  13120 Daniel Mount|   null| null|
|         Angelabury| WY 30645-4695"|           Smith Inc|              1| null|     null|               null|                null|   null| null|
|     Cynthia Norton|           37.0|             9191.58|              0| 5.56|      9.0|2016-01-19 15:31:15|      765 Tricia Row|   null| null|
|         Karenshire|      MH 71730"|          Love-Jones|              1| null|     null|               null|                null|   null| null|
|   Jessica Williams|           48.0|            10356.02|              0| 5.12|      8.0|2009-03-03 23:13:37|6187 Olson Mountains|   null| null|
|East Vincentborough|      PR 74359"|        Kelly-Warren|              1| null|     null|               null|                null|   null| null|
|        Eric Butler|           44.0|            11331.58|              1| 5.23|     11.0|2016-12-05 03:35:43|  4846 Savannah Road|   null| null|
|        West Justin| IA 87713-3460"|   Reynolds-Sheppard|              1| null|     null|               null|                null|   null| null|
|      Zachary Walsh|           32.0|             9885.12|              1| 6.92|      9.0|2006-03-09 14:50:20|25271 Roy Express...|   null| null|
|          Brownport| FM 59852-6150"|          Singh-Cole|              1| null|     null|               null|                null|   null| null|
|        Ashlee Carr|           43.0|             14062.6|              1| 5.46|     11.0|2011-09-29 05:47:23|3725 Caroline Str...|   null| null|
|South Christineview|      MA 82059"|           Lopez PLC|              1| null|     null|               null|                null|   null| null|
|     Jennifer Lynch|           40.0|             8066.94|              1| 7.11|     11.0|2006-03-28 15:42:45|363 Sandra Lodge ...|   null| null|
|          South Ann| WI 51655-7561"|       Reed-Martinez|              1| null|     null|               null|                null|   null| null|
+-------------------+---------------+--------------------+---------------+-----+---------+-------------------+--------------------+-------+-----+
only showing top 20 rows

In [7]:
df.printSchema()

root
 |-- Names: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Total_Purchase: string (nullable = true)
 |-- Account_Manager: string (nullable = true)
 |-- Years: string (nullable = true)
 |-- Num_Sites: string (nullable = true)
 |-- Onboard_date: string (nullable = true)
 |-- Location: string (nullable = true)
 |-- Company: string (nullable = true)
 |-- Churn: string (nullable = true)

In [8]:
df.columns

['Names',
 'Age',
 'Total_Purchase',
 'Account_Manager',
 'Years',
 'Num_Sites',
 'Onboard_date',
 'Location',
 'Company',
 'Churn']

In [9]:
df.describe()

DataFrame[summary: string, Names: string, Age: string, Total_Purchase: string, Account_Manager: string, Years: string, Num_Sites: string, Onboard_date: string, Location: string, Company: string, Churn: string]

In [10]:
df.describe().show()

+-------+-------------+-----------------+--------------------+------------------+-----------------+------------------+-------------------+--------------------+-------+-----+
|summary|        Names|              Age|      Total_Purchase|   Account_Manager|            Years|         Num_Sites|       Onboard_date|            Location|Company|Churn|
+-------+-------------+-----------------+--------------------+------------------+-----------------+------------------+-------------------+--------------------+-------+-----+
|  count|         1800|             1800|                1800|              1693|              900|               900|                900|                 900|      0|    0|
|   mean|         null|41.81666666666667|   8993.604399205567|0.3337271116361488| 5.27315555555555| 8.587777777777777|               null|                null|   null| null|
| stddev|         null|6.127560416916251|  3848.3789060162444|0.4716828819140737|1.274449013194616|1.7648355920350969|               null|                null|   null| null|
|    min|APO AA 00585"|        AK 08955"|                   0|                 0|              1.0|              10.0|2006-01-02 04:16:13|00103 Jeffrey Cre...|   null| null|
|    max|Zachary Walsh|   Young and Sons|Zuniga, Clark and...|                 1|             9.15|               9.0|2016-12-28 04:07:38|  Unit 9800 Box 2878|   null| null|
+-------+-------------+-----------------+--------------------+------------------+-----------------+------------------+-------------------+--------------------+-------+-----+

In [11]:
from pyspark.sql.types import (StructField, 
                               StringType,
                               IntegerType,
                               StructType)

In [12]:
data_schema = [ StructField('age', IntegerType(), True),
                StructField('name', StringType(), True)]

In [13]:
final_struct = StructType(fields = data_schema)

# df = spark.read.json('persons.json', schema = final_struct)