In [1]:
import pyspark

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName('Basic').getOrCreate()

21/11/23 21:14:31 WARN Utils: Your hostname, maq-VirtualBox resolves to a loopback address: 127.0.1.1; using 10.0.2.15 instead (on interface enp0s3)
21/11/23 21:14:31 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/home/maq/spark-3.2.0-bin-hadoop3.2/jars/spark-unsafe_2.12-3.2.0.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
21/11/23 21:14:42 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [4]:
df = spark.read.csv("/home/maq/Datasets/customer_churn.csv")

In [5]:
df.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: string (nullable = true)
 |-- _c5: string (nullable = true)
 |-- _c6: string (nullable = true)
 |-- _c7: string (nullable = true)
 |-- _c8: string (nullable = true)
 |-- _c9: string (nullable = true)

In [6]:
df = spark.read.csv("/home/maq/Datasets/customer_churn.csv", header = True)
df.printSchema()

root
 |-- Names: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Total_Purchase: string (nullable = true)
 |-- Account_Manager: string (nullable = true)
 |-- Years: string (nullable = true)
 |-- Num_Sites: string (nullable = true)
 |-- Onboard_date: string (nullable = true)
 |-- Location: string (nullable = true)
 |-- Company: string (nullable = true)
 |-- Churn: string (nullable = true)

In [7]:
df.columns

['Names',
 'Age',
 'Total_Purchase',
 'Account_Manager',
 'Years',
 'Num_Sites',
 'Onboard_date',
 'Location',
 'Company',
 'Churn']

In [8]:
df.describe()

DataFrame[summary: string, Names: string, Age: string, Total_Purchase: string, Account_Manager: string, Years: string, Num_Sites: string, Onboard_date: string, Location: string, Company: string, Churn: string]

In [14]:
from pyspark.sql.types import (StructField, 
                               StringType,
                               IntegerType,
                               FloatType, 
                               DoubleType,
                               DecimalType,
                               BooleanType,
                               StructType)

In [15]:
def schemaBuilder(columns):                
    data_schema = []
    for i in columns:
        whatis = input(i + " is int, float, double, decimal, bool, string :")
        if (whatis == 'float'):
            dataType = FloatType()
        elif (whatis == 'bool'):
            dataType = BooleanType()
        elif (whatis == 'double'):
            dataType = DoubleType()
        elif (whatis == 'int'):
            dataType = IntegerType()
        elif (whatis == 'decimal'):
            dataType = DecimalType()
        else:
            dataType = StringType()
        
        data_schema.append(StructField(i, dataType, True))
        
    return data_schema

In [16]:
data_schema = schemaBuilder(df.columns)

Names is int, float, double, decimal, bool, string :string
Age is int, float, double, decimal, bool, string :int
Total_Purchase is int, float, double, decimal, bool, string :float
Account_Manager is int, float, double, decimal, bool, string :string
Years is int, float, double, decimal, bool, string :float
Num_Sites is int, float, double, decimal, bool, string :float
Onboard_date is int, float, double, decimal, bool, string :string
Location is int, float, double, decimal, bool, string :string
Company is int, float, double, decimal, bool, string :string
Churn is int, float, double, decimal, bool, string :string

In [17]:
final_struct = StructType(fields = data_schema)

# df = spark.read.json('persons.json', schema = final_struct)

In [19]:
df = spark.read.csv("/home/maq/Datasets/customer_churn.csv", header = True, schema = final_struct)
df.printSchema()

root
 |-- Names: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Total_Purchase: float (nullable = true)
 |-- Account_Manager: string (nullable = true)
 |-- Years: float (nullable = true)
 |-- Num_Sites: float (nullable = true)
 |-- Onboard_date: string (nullable = true)
 |-- Location: string (nullable = true)
 |-- Company: string (nullable = true)
 |-- Churn: string (nullable = true)