In [1]:
import pyspark

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName('Basic').getOrCreate()

21/11/23 22:47:17 WARN Utils: Your hostname, maq-VirtualBox resolves to a loopback address: 127.0.1.1; using 10.0.2.15 instead (on interface enp0s3)
21/11/23 22:47:17 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/home/maq/spark-3.2.0-bin-hadoop3.2/jars/spark-unsafe_2.12-3.2.0.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
21/11/23 22:47:21 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [4]:
df = spark.read.csv("/home/maq/Datasets/customer_churn.csv")

In [5]:
df.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: string (nullable = true)
 |-- _c5: string (nullable = true)
 |-- _c6: string (nullable = true)
 |-- _c7: string (nullable = true)
 |-- _c8: string (nullable = true)
 |-- _c9: string (nullable = true)

In [6]:
df = spark.read.csv("/home/maq/Datasets/customer_churn.csv", header = True)
df.printSchema()

root
 |-- Names: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Total_Purchase: string (nullable = true)
 |-- Account_Manager: string (nullable = true)
 |-- Years: string (nullable = true)
 |-- Num_Sites: string (nullable = true)
 |-- Onboard_date: string (nullable = true)
 |-- Location: string (nullable = true)
 |-- Company: string (nullable = true)
 |-- Churn: string (nullable = true)

In [7]:
df.columns

['Names',
 'Age',
 'Total_Purchase',
 'Account_Manager',
 'Years',
 'Num_Sites',
 'Onboard_date',
 'Location',
 'Company',
 'Churn']

In [8]:
df.describe()

DataFrame[summary: string, Names: string, Age: string, Total_Purchase: string, Account_Manager: string, Years: string, Num_Sites: string, Onboard_date: string, Location: string, Company: string, Churn: string]

In [9]:
df = spark.read.csv("/home/maq/Datasets/customer_churn.csv", header = True, inferSchema=True)
df.printSchema()

root
 |-- Names: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Total_Purchase: string (nullable = true)
 |-- Account_Manager: integer (nullable = true)
 |-- Years: double (nullable = true)
 |-- Num_Sites: double (nullable = true)
 |-- Onboard_date: string (nullable = true)
 |-- Location: string (nullable = true)
 |-- Company: string (nullable = true)
 |-- Churn: string (nullable = true)

In [12]:
df.head()

Row(Names='Cameron Williams', Age='42.0', Total_Purchase='11066.8', Account_Manager=0, Years=7.22, Num_Sites=8.0, Onboard_date='2013-08-30 07:00:40', Location='10265 Elizabeth Mission', Company=None, Churn=None)

In [16]:
df.filter('Age < 50').groupby('Age').count().show()

+----+-----+
| Age|count|
+----+-----+
|22.0|    1|
|38.0|   51|
|45.0|   56|
|47.0|   29|
|44.0|   53|
|25.0|    1|
|26.0|    2|
|41.0|   69|
|48.0|   36|
|29.0|    9|
|37.0|   48|
|46.0|   48|
|34.0|   25|
|35.0|   32|
|32.0|   18|
|27.0|    1|
|28.0|    5|
|31.0|   11|
|30.0|   11|
|33.0|   16|
+----+-----+
only showing top 20 rows

In [19]:
df.filter('Age < 50').select(['Names', 
                              'Age']).show()

+-------------------+----+
|              Names| Age|
+-------------------+----+
|   Cameron Williams|42.0|
|      Kevin Mueller|41.0|
|        Eric Lozano|38.0|
|      Phillip White|42.0|
|     Cynthia Norton|37.0|
|   Jessica Williams|48.0|
|        Eric Butler|44.0|
|      Zachary Walsh|32.0|
|        Ashlee Carr|43.0|
|     Jennifer Lynch|40.0|
|       Paula Harris|30.0|
|     Bruce Phillips|45.0|
|       Craig Garner|45.0|
|       Nicole Olson|40.0|
|     Harold Griffin|41.0|
|       James Wright|38.0|
|      Doris Wilkins|45.0|
|Katherine Carpenter|43.0|
|        Kathy Curry|46.0|
|        Dean Miller|41.0|
+-------------------+----+
only showing top 20 rows

In [20]:
df.filter(df['Age'] < 50).select(['Names', 
                                  'Age']).show()

+-------------------+----+
|              Names| Age|
+-------------------+----+
|   Cameron Williams|42.0|
|      Kevin Mueller|41.0|
|        Eric Lozano|38.0|
|      Phillip White|42.0|
|     Cynthia Norton|37.0|
|   Jessica Williams|48.0|
|        Eric Butler|44.0|
|      Zachary Walsh|32.0|
|        Ashlee Carr|43.0|
|     Jennifer Lynch|40.0|
|       Paula Harris|30.0|
|     Bruce Phillips|45.0|
|       Craig Garner|45.0|
|       Nicole Olson|40.0|
|     Harold Griffin|41.0|
|       James Wright|38.0|
|      Doris Wilkins|45.0|
|Katherine Carpenter|43.0|
|        Kathy Curry|46.0|
|        Dean Miller|41.0|
+-------------------+----+
only showing top 20 rows

In [21]:
df.filter((df['Age'] < 50) & (df['Age'] > 40)).select(['Names', 
                                  'Age']).show()

+-------------------+----+
|              Names| Age|
+-------------------+----+
|   Cameron Williams|42.0|
|      Kevin Mueller|41.0|
|      Phillip White|42.0|
|   Jessica Williams|48.0|
|        Eric Butler|44.0|
|        Ashlee Carr|43.0|
|     Bruce Phillips|45.0|
|       Craig Garner|45.0|
|     Harold Griffin|41.0|
|      Doris Wilkins|45.0|
|Katherine Carpenter|43.0|
|        Kathy Curry|46.0|
|        Dean Miller|41.0|
|        Paul Walker|41.0|
|      Darlene Evans|44.0|
|         Carla Ball|45.0|
|        Robert Hill|46.0|
|     Joseph Harrell|44.0|
|     Tammy Shepherd|48.0|
|      Thomas Sawyer|48.0|
+-------------------+----+
only showing top 20 rows

In [23]:
df.filter(df['Age']==50).select(['Names', 
                                  'Age']).show()

+-----------------+----+
|            Names| Age|
+-----------------+----+
|   Richard Fields|50.0|
| Brittany Jackson|50.0|
|    Jeffrey Glenn|50.0|
|     Mary Aguilar|50.0|
|      Adam Strong|50.0|
|    Jacob Escobar|50.0|
|    Kristin Davis|50.0|
|      Eugene Rowe|50.0|
| Heather Thompson|50.0|
|   Kenneth Graham|50.0|
|Christopher Clark|50.0|
|       Troy Burke|50.0|
|     Leslie Lopez|50.0|
|   Steven Mendoza|50.0|
|    David Compton|50.0|
+-----------------+----+

In [24]:
result = df.filter(df['Age']==50).select(['Names', 
                                  'Age']).collect()

In [25]:
result

[Row(Names='Richard Fields', Age='50.0'),
 Row(Names='Brittany Jackson', Age='50.0'),
 Row(Names='Jeffrey Glenn', Age='50.0'),
 Row(Names='Mary Aguilar', Age='50.0'),
 Row(Names='Adam Strong', Age='50.0'),
 Row(Names='Jacob Escobar', Age='50.0'),
 Row(Names='Kristin Davis', Age='50.0'),
 Row(Names='Eugene Rowe', Age='50.0'),
 Row(Names='Heather Thompson', Age='50.0'),
 Row(Names='Kenneth Graham', Age='50.0'),
 Row(Names='Christopher Clark', Age='50.0'),
 Row(Names='Troy Burke', Age='50.0'),
 Row(Names='Leslie Lopez', Age='50.0'),
 Row(Names='Steven Mendoza', Age='50.0'),
 Row(Names='David Compton', Age='50.0')]

In [27]:
result[0].asDict()

{'Names': 'Richard Fields', 'Age': '50.0'}