In [1]:
import pyspark

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName('Basic').getOrCreate()

21/11/24 00:10:50 WARN Utils: Your hostname, maq-VirtualBox resolves to a loopback address: 127.0.1.1; using 10.0.2.15 instead (on interface enp0s3)
21/11/24 00:10:50 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/home/maq/spark-3.2.0-bin-hadoop3.2/jars/spark-unsafe_2.12-3.2.0.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
21/11/24 00:10:51 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [4]:
df = spark.read.csv("/home/maq/Datasets/customer_churn.csv")

In [5]:
df.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: string (nullable = true)
 |-- _c5: string (nullable = true)
 |-- _c6: string (nullable = true)
 |-- _c7: string (nullable = true)
 |-- _c8: string (nullable = true)
 |-- _c9: string (nullable = true)

In [6]:
df = spark.read.csv("/home/maq/Datasets/customer_churn.csv", header = True)
df.printSchema()

root
 |-- Names: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Total_Purchase: string (nullable = true)
 |-- Account_Manager: string (nullable = true)
 |-- Years: string (nullable = true)
 |-- Num_Sites: string (nullable = true)
 |-- Onboard_date: string (nullable = true)
 |-- Location: string (nullable = true)
 |-- Company: string (nullable = true)
 |-- Churn: string (nullable = true)

In [7]:
df.columns

['Names',
 'Age',
 'Total_Purchase',
 'Account_Manager',
 'Years',
 'Num_Sites',
 'Onboard_date',
 'Location',
 'Company',
 'Churn']

In [8]:
df.describe()

DataFrame[summary: string, Names: string, Age: string, Total_Purchase: string, Account_Manager: string, Years: string, Num_Sites: string, Onboard_date: string, Location: string, Company: string, Churn: string]

In [9]:
df = spark.read.csv("/home/maq/Datasets/customer_churn.csv", header = True, inferSchema=True)
df.printSchema()

root
 |-- Names: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Total_Purchase: string (nullable = true)
 |-- Account_Manager: integer (nullable = true)
 |-- Years: double (nullable = true)
 |-- Num_Sites: double (nullable = true)
 |-- Onboard_date: string (nullable = true)
 |-- Location: string (nullable = true)
 |-- Company: string (nullable = true)
 |-- Churn: string (nullable = true)

In [10]:
df.head()

Row(Names='Cameron Williams', Age='42.0', Total_Purchase='11066.8', Account_Manager=0, Years=7.22, Num_Sites=8.0, Onboard_date='2013-08-30 07:00:40', Location='10265 Elizabeth Mission', Company=None, Churn=None)

In [11]:
df.groupBy('Age')

In [12]:
df.groupBy('Age').mean().show()

+--------------------+--------------------+----------+--------------+
|                 Age|avg(Account_Manager)|avg(Years)|avg(Num_Sites)|
+--------------------+--------------------+----------+--------------+
|          Obrien PLC|                null|      null|          null|
|      IL 43853-4718"|                 0.0|      null|          null|
|          Hall Group|                null|      null|          null|
|      CO 28918-5500"|                 1.0|      null|          null|
|           KY 66125"|                 1.0|      null|          null|
|Freeman, Lam and ...|                null|      null|          null|
|      AZ 06819-5978"|                 0.0|      null|          null|
|       Smith-Carroll|                null|      null|          null|
|Hall, Hernandez a...|                null|      null|          null|
|      VI 31105-1539"|                 1.0|      null|          null|
|      OR 20046-4343"|                 1.0|      null|          null|
|           NJ 33304"|                 0.0|      null|          null|
|           HI 48528"|                 0.0|      null|          null|
|Jennings, Gates a...|                null|      null|          null|
|      FL 73286-2490"|                 0.0|      null|          null|
|           NE 05818"|                 0.0|      null|          null|
|      ND 95345-7872"|                 0.0|      null|          null|
|Hernandez, Middle...|                null|      null|          null|
|      NH 24241-9525"|                 0.0|      null|          null|
|           AZ 05753"|                 0.0|      null|          null|
+--------------------+--------------------+----------+--------------+
only showing top 20 rows

In [13]:
df.groupBy('Account_Manager').mean().show()

+---------------+--------------------+-----------------+-----------------+
|Account_Manager|avg(Account_Manager)|       avg(Years)|   avg(Num_Sites)|
+---------------+--------------------+-----------------+-----------------+
|              1|                 1.0| 5.30348729792148|8.648960739030024|
|              0|                 0.0|5.245032119914349|8.531049250535332|
|           null|                null|             null|             null|
+---------------+--------------------+-----------------+-----------------+

In [15]:
df.agg({'Age':'sum'}).show()

+--------+
|sum(Age)|
+--------+
| 37635.0|
+--------+

In [17]:
df.groupBy('Account_Manager').agg({'Age': 'mean'}).show()

+---------------+------------------+
|Account_Manager|          avg(Age)|
+---------------+------------------+
|              1|41.722863741339495|
|              0|41.903640256959314|
|           null|              null|
+---------------+------------------+

In [18]:
from pyspark.sql.functions import countDistinct, avg, stddev

In [19]:
df.select(countDistinct('Age')).show()

+-------------------+
|count(DISTINCT Age)|
+-------------------+
|                935|
+-------------------+

In [46]:
df.select(avg('Age')).show()

+-----------------+
|         avg(Age)|
+-----------------+
|41.81666666666667|
+-----------------+

In [47]:
df.select(stddev('Age')).show()

+-----------------+
| stddev_samp(Age)|
+-----------------+
|6.127560416916251|
+-----------------+

In [48]:
from pyspark.sql.functions import format_number
std = df.select(stddev('Age').alias('std'))

In [49]:
std.show()

+-----------------+
|              std|
+-----------------+
|6.127560416916251|
+-----------------+

In [58]:
std.select(format_number('std', 2).alias('std')).show()

+----+
| std|
+----+
|6.13|
+----+

In [59]:
df.orderBy(df['Age'].asc()).select('Names').show()

+-----------------+
|            Names|
+-----------------+
|     Michaelburgh|
|       Amandaside|
|        South Amy|
|      Robertstown|
|       Colleenton|
|     Sanchezshire|
|   Lake Davidside|
|      Robertshire|
|  Port Austinbury|
| New Richardshire|
|      Fischerbury|
|    Ronnieborough|
|    Mckinneymouth|
|       Port Wyatt|
|      Barkerburgh|
|      Michaelside|
|        Berryport|
|     West Brandon|
|     Jasminemouth|
|New Elizabethberg|
+-----------------+
only showing top 20 rows

In [60]:
df.orderBy(df['Age'].desc()).select('Names').show()

+------------------+
|             Names|
+------------------+
|APO AA 45232-2030"|
|     DPO AP 13281"|
|DPO AA 36768-7501"|
|     APO AA 67843"|
|DPO AP 09454-8286"|
|     APO AA 00585"|
|APO AP 11064-1547"|
|DPO AA 88767-0662"|
|     DPO AP 02154"|
|APO AA 49368-5290"|
|     APO AP 73140"|
|APO AA 69767-2977"|
|     DPO AP 33602"|
|FPO AA 06534-5672"|
|APO AA 11178-4877"|
|DPO AE 56165-8636"|
|     DPO AA 63221"|
|     APO AP 43490"|
|DPO AA 16636-7105"|
|     APO AE 26505"|
+------------------+
only showing top 20 rows