In [1]:
import pyspark

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName('Basic').getOrCreate()

21/11/24 00:38:31 WARN Utils: Your hostname, maq-VirtualBox resolves to a loopback address: 127.0.1.1; using 10.0.2.15 instead (on interface enp0s3)
21/11/24 00:38:31 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/home/maq/spark-3.2.0-bin-hadoop3.2/jars/spark-unsafe_2.12-3.2.0.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
21/11/24 00:38:32 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [4]:
df = spark.read.csv("/home/maq/Datasets/customer_churn.csv")

In [5]:
df.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: string (nullable = true)
 |-- _c5: string (nullable = true)
 |-- _c6: string (nullable = true)
 |-- _c7: string (nullable = true)
 |-- _c8: string (nullable = true)
 |-- _c9: string (nullable = true)

In [6]:
df = spark.read.csv("/home/maq/Datasets/customer_churn.csv", header = True)
df.printSchema()

root
 |-- Names: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Total_Purchase: string (nullable = true)
 |-- Account_Manager: string (nullable = true)
 |-- Years: string (nullable = true)
 |-- Num_Sites: string (nullable = true)
 |-- Onboard_date: string (nullable = true)
 |-- Location: string (nullable = true)
 |-- Company: string (nullable = true)
 |-- Churn: string (nullable = true)

In [7]:
df.columns

['Names',
 'Age',
 'Total_Purchase',
 'Account_Manager',
 'Years',
 'Num_Sites',
 'Onboard_date',
 'Location',
 'Company',
 'Churn']

In [8]:
df.describe()

DataFrame[summary: string, Names: string, Age: string, Total_Purchase: string, Account_Manager: string, Years: string, Num_Sites: string, Onboard_date: string, Location: string, Company: string, Churn: string]

In [9]:
df = spark.read.csv("/home/maq/Datasets/customer_churn.csv", header = True, inferSchema=True)
df.printSchema()

root
 |-- Names: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Total_Purchase: string (nullable = true)
 |-- Account_Manager: integer (nullable = true)
 |-- Years: double (nullable = true)
 |-- Num_Sites: double (nullable = true)
 |-- Onboard_date: string (nullable = true)
 |-- Location: string (nullable = true)
 |-- Company: string (nullable = true)
 |-- Churn: string (nullable = true)

In [11]:
df.head()

Row(Names='Cameron Williams', Age='42.0', Total_Purchase='11066.8', Account_Manager=0, Years=7.22, Num_Sites=8.0, Onboard_date='2013-08-30 07:00:40', Location='10265 Elizabeth Mission', Company=None, Churn=None)

In [12]:
df.na.drop().show()

+-----+---+--------------+---------------+-----+---------+------------+--------+-------+-----+
|Names|Age|Total_Purchase|Account_Manager|Years|Num_Sites|Onboard_date|Location|Company|Churn|
+-----+---+--------------+---------------+-----+---------+------------+--------+-------+-----+
+-----+---+--------------+---------------+-----+---------+------------+--------+-------+-----+

In [15]:
df.na.drop(thresh = 8).groupBy('Age').count().show()

+----+-----+
| Age|count|
+----+-----+
|50.0|   15|
|22.0|    1|
|65.0|    1|
|38.0|   51|
|45.0|   56|
|47.0|   29|
|44.0|   53|
|25.0|    1|
|26.0|    2|
|41.0|   69|
|51.0|   21|
|52.0|   20|
|48.0|   36|
|29.0|    9|
|37.0|   48|
|46.0|   48|
|34.0|   25|
|35.0|   32|
|32.0|   18|
|58.0|    2|
+----+-----+
only showing top 20 rows

In [20]:
df.na.drop(thresh = 3).groupBy('Age').count().show()

+--------------------+-----+
|                 Age|count|
+--------------------+-----+
|          Obrien PLC|    1|
|      IL 43853-4718"|    1|
|          Hall Group|    1|
|      CO 28918-5500"|    1|
|           KY 66125"|    1|
|Freeman, Lam and ...|    1|
|      AZ 06819-5978"|    1|
|       Smith-Carroll|    1|
|Hall, Hernandez a...|    1|
|      VI 31105-1539"|    1|
|      OR 20046-4343"|    1|
|           NJ 33304"|    1|
|           HI 48528"|    1|
|Jennings, Gates a...|    1|
|      FL 73286-2490"|    1|
|           NE 05818"|    1|
|      ND 95345-7872"|    1|
|Hernandez, Middle...|    1|
|      NH 24241-9525"|    1|
|           AZ 05753"|    1|
+--------------------+-----+
only showing top 20 rows

In [21]:
df.na.drop(how = 'all').groupBy('Age').count().show()

+--------------------+-----+
|                 Age|count|
+--------------------+-----+
|          Obrien PLC|    1|
|      IL 43853-4718"|    1|
|          Hall Group|    1|
|      CO 28918-5500"|    1|
|           KY 66125"|    1|
|Freeman, Lam and ...|    1|
|      AZ 06819-5978"|    1|
|       Smith-Carroll|    1|
|Hall, Hernandez a...|    1|
|      VI 31105-1539"|    1|
|      OR 20046-4343"|    1|
|           NJ 33304"|    1|
|           HI 48528"|    1|
|Jennings, Gates a...|    1|
|      FL 73286-2490"|    1|
|           NE 05818"|    1|
|      ND 95345-7872"|    1|
|Hernandez, Middle...|    1|
|      NH 24241-9525"|    1|
|           AZ 05753"|    1|
+--------------------+-----+
only showing top 20 rows

In [22]:
df.na.drop(subset = ['Age']).select('Age').show()

+---------------+
|            Age|
+---------------+
|           42.0|
|      AK 89518"|
|           41.0|
|      RI 17756"|
|           38.0|
|      DE 90114"|
|           42.0|
| WY 30645-4695"|
|           37.0|
|      MH 71730"|
|           48.0|
|      PR 74359"|
|           44.0|
| IA 87713-3460"|
|           32.0|
| FM 59852-6150"|
|           43.0|
|      MA 82059"|
|           40.0|
| WI 51655-7561"|
+---------------+
only showing top 20 rows

In [28]:
df.na.fill('MISSING').select('Company').show()

+-------+
|Company|
+-------+
|MISSING|
|MISSING|
|MISSING|
|MISSING|
|MISSING|
|MISSING|
|MISSING|
|MISSING|
|MISSING|
|MISSING|
|MISSING|
|MISSING|
|MISSING|
|MISSING|
|MISSING|
|MISSING|
|MISSING|
|MISSING|
|MISSING|
|MISSING|
+-------+
only showing top 20 rows

In [29]:
df.na.fill(0).select('Age').show()

+---------------+
|            Age|
+---------------+
|           42.0|
|      AK 89518"|
|           41.0|
|      RI 17756"|
|           38.0|
|      DE 90114"|
|           42.0|
| WY 30645-4695"|
|           37.0|
|      MH 71730"|
|           48.0|
|      PR 74359"|
|           44.0|
| IA 87713-3460"|
|           32.0|
| FM 59852-6150"|
|           43.0|
|      MA 82059"|
|           40.0|
| WI 51655-7561"|
+---------------+
only showing top 20 rows

In [31]:
df.na.fill('MISSING', subset = ['Company']).select('Company').show()

+-------+
|Company|
+-------+
|MISSING|
|MISSING|
|MISSING|
|MISSING|
|MISSING|
|MISSING|
|MISSING|
|MISSING|
|MISSING|
|MISSING|
|MISSING|
|MISSING|
|MISSING|
|MISSING|
|MISSING|
|MISSING|
|MISSING|
|MISSING|
|MISSING|
|MISSING|
+-------+
only showing top 20 rows

In [32]:
from pyspark.sql.functions import mean

In [33]:
mean_val = df.select(mean(df['Age'])).collect()

In [34]:
mean_val

[Row(avg(Age)=41.81666666666667)]

In [36]:
mean_val[0][0]

41.81666666666667

In [40]:
df.na.fill(mean_val[0][0], subset=['Age']).select('Age').show()

+---------------+
|            Age|
+---------------+
|           42.0|
|      AK 89518"|
|           41.0|
|      RI 17756"|
|           38.0|
|      DE 90114"|
|           42.0|
| WY 30645-4695"|
|           37.0|
|      MH 71730"|
|           48.0|
|      PR 74359"|
|           44.0|
| IA 87713-3460"|
|           32.0|
| FM 59852-6150"|
|           43.0|
|      MA 82059"|
|           40.0|
| WI 51655-7561"|
+---------------+
only showing top 20 rows