In [1]:
import pyspark

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName('Basic').getOrCreate()

21/11/24 01:10:53 WARN Utils: Your hostname, maq-VirtualBox resolves to a loopback address: 127.0.1.1; using 10.0.2.15 instead (on interface enp0s3)
21/11/24 01:10:53 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/home/maq/spark-3.2.0-bin-hadoop3.2/jars/spark-unsafe_2.12-3.2.0.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
21/11/24 01:10:54 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [4]:
df = spark.read.csv("/home/maq/Datasets/customer_churn.csv")

In [5]:
df.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: string (nullable = true)
 |-- _c5: string (nullable = true)
 |-- _c6: string (nullable = true)
 |-- _c7: string (nullable = true)
 |-- _c8: string (nullable = true)
 |-- _c9: string (nullable = true)

In [6]:
df = spark.read.csv("/home/maq/Datasets/customer_churn.csv", header = True)
df.printSchema()

root
 |-- Names: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Total_Purchase: string (nullable = true)
 |-- Account_Manager: string (nullable = true)
 |-- Years: string (nullable = true)
 |-- Num_Sites: string (nullable = true)
 |-- Onboard_date: string (nullable = true)
 |-- Location: string (nullable = true)
 |-- Company: string (nullable = true)
 |-- Churn: string (nullable = true)

In [7]:
df.columns

['Names',
 'Age',
 'Total_Purchase',
 'Account_Manager',
 'Years',
 'Num_Sites',
 'Onboard_date',
 'Location',
 'Company',
 'Churn']

In [8]:
df.describe()

DataFrame[summary: string, Names: string, Age: string, Total_Purchase: string, Account_Manager: string, Years: string, Num_Sites: string, Onboard_date: string, Location: string, Company: string, Churn: string]

In [10]:
df = spark.read.csv("/home/maq/Datasets/customer_churn.csv", header = True, inferSchema=True)
df.printSchema()

root
 |-- Names: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Total_Purchase: string (nullable = true)
 |-- Account_Manager: integer (nullable = true)
 |-- Years: double (nullable = true)
 |-- Num_Sites: double (nullable = true)
 |-- Onboard_date: string (nullable = true)
 |-- Location: string (nullable = true)
 |-- Company: string (nullable = true)
 |-- Churn: string (nullable = true)

In [12]:
df.select('Onboard_date').head()

Row(Onboard_date='2013-08-30 07:00:40')

In [19]:
from pyspark.sql.functions import (dayofmonth, 
                                   hour, 
                                   month, 
                                   weekofyear,
                                   dayofyear, 
                                   format_number, 
                                   year)

In [20]:
df.select(dayofmonth(df['Onboard_date'])).show()

+------------------------+
|dayofmonth(Onboard_date)|
+------------------------+
|                      30|
|                    null|
|                      13|
|                    null|
|                      29|
|                    null|
|                      22|
|                    null|
|                      19|
|                    null|
|                       3|
|                    null|
|                       5|
|                    null|
|                       9|
|                    null|
|                      29|
|                    null|
|                      28|
|                    null|
+------------------------+
only showing top 20 rows

In [21]:
df.select(month(df['Onboard_date'])).show()

+-------------------+
|month(Onboard_date)|
+-------------------+
|                  8|
|               null|
|                  8|
|               null|
|                  6|
|               null|
|                  4|
|               null|
|                  1|
|               null|
|                  3|
|               null|
|                 12|
|               null|
|                  3|
|               null|
|                  9|
|               null|
|                  3|
|               null|
+-------------------+
only showing top 20 rows

In [22]:
df.select(hour(df['Onboard_date'])).show()

+------------------+
|hour(Onboard_date)|
+------------------+
|                 7|
|              null|
|                 0|
|              null|
|                 6|
|              null|
|                12|
|              null|
|                15|
|              null|
|                23|
|              null|
|                 3|
|              null|
|                14|
|              null|
|                 5|
|              null|
|                15|
|              null|
+------------------+
only showing top 20 rows

In [23]:
df = df.withColumn('Year', year(df['Onboard_date']))

In [24]:
df.printSchema()

root
 |-- Names: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Total_Purchase: string (nullable = true)
 |-- Account_Manager: integer (nullable = true)
 |-- Years: double (nullable = true)
 |-- Num_Sites: double (nullable = true)
 |-- Onboard_date: string (nullable = true)
 |-- Location: string (nullable = true)
 |-- Company: string (nullable = true)
 |-- Churn: string (nullable = true)
 |-- Year: integer (nullable = true)

In [27]:
df.groupBy('Year').count().show()

+----+-----+
|Year|count|
+----+-----+
|2007|   90|
|2015|   75|
|2006|  102|
|2013|   80|
|2014|  103|
|2012|   67|
|2009|   84|
|2016|   67|
|2010|   84|
|2011|   72|
|2008|   76|
|null|  900|
+----+-----+

In [28]:
df.groupBy('Year').mean().show()

+----+--------------------+------------------+-----------------+---------+
|Year|avg(Account_Manager)|        avg(Years)|   avg(Num_Sites)|avg(Year)|
+----+--------------------+------------------+-----------------+---------+
|2007|                 0.5| 5.338000000000002|8.655555555555555|   2007.0|
|2015|  0.5066666666666667| 5.117200000000001|8.733333333333333|   2015.0|
|2006| 0.43137254901960786|5.3656862745098035|8.627450980392156|   2006.0|
|2013|              0.4375|          5.127375|            8.325|   2013.0|
|2014|  0.5048543689320388| 5.204368932038836| 8.41747572815534|   2014.0|
|2012|  0.4626865671641791| 5.197462686567163|8.716417910447761|   2012.0|
|2009| 0.47619047619047616| 5.245000000000002|8.416666666666666|   2009.0|
|2016|  0.4925373134328358| 5.208955223880596|8.492537313432836|   2016.0|
|2010|  0.4642857142857143| 5.130952380952381|8.738095238095237|   2010.0|
|2011|  0.5277777777777778| 5.815000000000001|8.527777777777779|   2011.0|
|2008|                 0.5| 5.271052631578949|8.868421052631579|   2008.0|
|null|  0.1664564943253468|              null|             null|     null|
+----+--------------------+------------------+-----------------+---------+